body {
  margin: 0;
  background: linear-gradient(135deg, #fdfcfb, #e2d1c3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crewmate {
  position: relative;
  width: 150px;
  height: 220px;
  background: linear-gradient(to bottom, #e74c3c, #c0392b);
  border-radius: 60px 60px 30px 30px;
  border: 4px solid #000;
  box-shadow: inset -8px -8px 12px rgba(0,0,0,0.3);
  z-index: 2;
}

.visor {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 55px;
  background: linear-gradient(to bottom right, #d0f0ff, #85c7e6);
  border-radius: 25px;
  border: 4px solid #000;
  box-shadow: inset -8px -6px 6px rgba(0, 0, 0, 0.2);
}

.backpack {
  position: absolute;
  width: 45px;
  height: 100px;
  background: linear-gradient(to bottom, #e74c3c, #c0392b);
  left: -35px;
  top: 65px;
  border-radius: 20px;
  border: 4px solid #000;
  z-index: 1;
  box-shadow: inset -5px -5px 8px rgba(0, 0, 0, 0.2);
}

